{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
        <div>
            <h1 class='head'>Welcome to <span style="color: aquamarine;">Face. A I</span></h1>
        </div>
        <p class="content"><strong>Face. A I is an artificial intelligence application which will predict the gender of the person by uploading the picture.Our algorithm will also dectect the face of the person. We have used some awesome algorithms and technologies behind it. Check this out. Thank you</strong></p>
    </div>
{% endblock bodyblock %}